<a href="https://colab.research.google.com/github/12191010101018Sarfaraz/CODING-SEM-V/blob/main/Experiment_1(18).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print the numbers from 10 to 2 using for loop

for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
#print the elements of the string 'SARFARAZ' using for loop

str='SARFARAZ'
for i in str:
  print(i)

S
A
R
F
A
R
A
Z

In [ ]:
#print the numbers from 1 to 20 with difference 2 using for loop

for i in range(1,21,+2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#print the numbers 10 to 50 with numbers not divisible by 5

for i in range(10,50):
  if(i%5 !=0):
    print(i)

11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [ ]:
#print the numbers 1 to 10 using for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print the elements of the list ['Rama',10,8.2] using for loop

l=['Rama',8,10.2]
for i in l:
  print(i)

Rama
8
10.2